In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"../data/attrition_data.csv")
df.shape

(8611, 27)

In [3]:
df.describe()

,EMP_ID,ANNUAL_RATE,HRLY_RATE,JOBCODE,JOB_SATISFACTION,AGE,TERMINATION_YEAR,PERFORMANCE_RATING,PREVYR_1,PREVYR_2,PREVYR_3,PREVYR_4,PREVYR_5
count,8.611000e+03,8.611000e+03,8611.000000,8611.000000,8611.000000,8611.000000,4154.000000,8611.000000,8611.000000,8611.000000,8611.000000,8611.000000,8611.000000
mean,5.171513e+09,8.911329e+04,49.828475,51407.488793,2.762978,40.157357,2010.924410,3.006387,1.440483,1.141099,0.865753,0.689351,0.520381
std,2.396210e+09,5.892069e+04,28.379991,22912.299967,1.412292,13.735217,3.878738,1.408727,1.298630,1.308223,1.225873,1.143279,1.012074
min,1.000475e+09,1.678600e+04,14.000000,10006.000000,1.000000,18.000000,2004.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.105552e+09,5.051600e+04,31.000000,33520.000000,2.000000,28.000000,2007.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.227003e+09,7.362700e+04,42.000000,52630.000000,3.000000,39.000000,2011.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,7.256871e+09,1.086390e+05,59.000000,69401.000000,4.000000,52.000000,2014.000000,4.000000,3.000000,2.000000,2.000000,2.000000,0.000000
max,9.982663e+09,1.250924e+06,608.000000,99793.000000,5.000000,64.000000,2017.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [4]:
job_group_combiner = {'Plant & Facilities Maintenance':'Manufacturing & Production', 'Physical Flows':'Manufacturing & Production', 'Production & Operations':'Manufacturing & Production', 'Industrial Quality':'Manufacturing & Production', 'Package Development':'Manufacturing & Production', 'Logistics - Manufacturing':'Manufacturing & Production', 'Plant Management':'Manufacturing & Production','Manufacturing Supply Chain':'Supply Chain','Distribution/Administration':'Supply Chain','Supply Chain Finance':'Supply Chain','Market Supply Logistics':'Supply Chain','Corporate Supply Chain':'Supply Chain','Transportation & Warehousing':'Supply Chain','Prod Planning & Inventory Ctl':'Supply Chain','Logistics - Distribution':'Supply Chain','Demand Planning':'Supply Chain','Supply Chain Administration':'Supply Chain','Finance':'Finance','Tax':'Finance','Accounting':'Finance','Flows & Sub-Contracting':'Finance','Accounts Payable':'Finance','Treasury':'Finance','Insurance & Risk Management':'Finance','Supply Chain Administration':'Business','R&I Evaluation':'Business','Public Relations':'Business','Customer Care':'Business','Multi-Channel':'Business','R&I Safety Evaluation':'Business','Customer Relationship Mgmt':'Marketing','Marketing - Direct':'Marketing','Promotional Purchasing':'Marketing','Marketing Support/Services':'Marketing','Market Research':'Marketing','Marketing - Global':'Marketing','Integrated Mktg Communications':'Marketing','Brand Operations':'Marketing','Social Media':'Marketing','Integrated Marketing Comm':'Marketing','General Administration':'General','General Management':'General','R&I General Management':'General','R&I Development/Pre-Develpmnt':'Research & Development','Creative Service/Copy':'Research & Development','Engineering':'Research & Development','Technical Packaging':'Research & Development','Quality Assurance':'Research & Development','Digital':'Research & Development','Analytical/Microbiology':'Research & Development','eCommerce':'Research & Development','Demi-Grand':'Research & Development','Applied Research':'Research & Development','Advanced Research':'Research & Development','Web':'Research & Development','IT Business Applications':'IT','IT Technologies and Infrstrctr':'IT','IT Governance and Management':'IT','IT Architecture and Integrtion':'IT','IT Digital':'IT','IT Security/Risk and Quality':'IT','Sourcing':'Human Resources','Human Resources':'Human Resources','Legal':'Legal','Intellectual Proprty & Patents':'Legal','Regulatory Affairs':'Legal','Claims Substantiation':'Legal'}

In [5]:
df['COMBINED_JOB_GROUP'] = [job_group_combiner[job_group] for job_group in df['JOB_GROUP']]

In [6]:
df['COMBINED_JOB_GROUP'].describe()

count                           8611
unique                            10
top       Manufacturing & Production
freq                            2740
Name: COMBINED_JOB_GROUP, dtype: object

In [7]:
quantiled_annual_rate = df['ANNUAL_RATE'].quantile([0.25,0.5,0.75])
discretized_annual_rate_list = []
for annual_rate in df['ANNUAL_RATE']:
    if quantiled_annual_rate[0.25] > annual_rate:
        discretized_annual_rate_list.append('LOW')
    elif quantiled_annual_rate[0.25] <= annual_rate and quantiled_annual_rate[0.50] > annual_rate:
        discretized_annual_rate_list.append('MEDIUM')
    elif quantiled_annual_rate[0.50] <= annual_rate and quantiled_annual_rate[0.75] > annual_rate:
        discretized_annual_rate_list.append('HIGH')
    elif quantiled_annual_rate[0.75] <= annual_rate:
        discretized_annual_rate_list.append('VERY HIGH')
df['DISCRETIZED_ANNUAL_RATE'] = discretized_annual_rate_list

In [8]:
discretized_age = []
for age in df['AGE']:
    if age >= 18 and age <= 23:
        discretized_age.append('18-23')
    elif age > 23 and age <= 29:
        discretized_age.append('24-29')
    elif age > 29 and age <= 35:
        discretized_age.append('30-35')
    elif age > 35 and age <= 41:
        discretized_age.append('36-41')
    elif age > 41 and age <= 47:
        discretized_age.append('41-47')
    elif age > 47 and age <= 53:
        discretized_age.append('48-53')
    elif age > 53 and age <= 59:
        discretized_age.append('54-59')
    elif age > 59:
        discretized_age.append('60 or above')
df['DISCRETIZED_AGE'] = discretized_age

In [9]:
df['PREVYR_1_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_1']]
df['PREVYR_2_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_2']]
df['PREVYR_3_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_3']]
df['PREVYR_4_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_4']]
df['PREVYR_5_PRESENT'] = [1 if value > 0 else 0 for value in df['PREVYR_5']]
df['EXPERIENCE_AT_COMPANY'] = df['PREVYR_1_PRESENT'] + df['PREVYR_2_PRESENT'] + df['PREVYR_3_PRESENT'] + df['PREVYR_4_PRESENT'] + df['PREVYR_5_PRESENT'] + 1

In [10]:
df.to_csv(r'../data/attrition_data_with_calculated_columns.csv', index = False)